venv
insecure_deserialization/server/src/__pycache__
insecure_deserialization/client/node_modules
broken_access_control/server/src/__pycache__
broken_access_control/client/node_modules
secure_app/server/src/__pycache__
secure_app/client/node_modules