services:
  # # server side
  # api-server:
  #   build: ./server
  #   volumes:
  #     - ./server:/app
  #   ports:
  #     - "5000:5000"
  #   networks:
  #     - app-network

  # client side
  client:
    build: ./client
    volumes:
      - ./client:/app
    ports:
      - "3000:3000"
    networks:
      - app-network

networks:
  app-network: